table{
    border-collapse: collapse;
    border: solid 1px #000000;
    margin: 0 auto;
    width: 600px;
}

tr td, tr th {
    border: solid 1px #000000;
    text-align: center;
}


.zebrar {
    background: #006e90;
    color: #FFFFFF;
}

